{% extends "base.html" %}
{% block content %}
	<div id="msg">
	{{ msg }}
	</div>

      <form action="/newpost"  method="POST" enctype="multipart/form-data">

        <div class="form-group">
          <div class="custom-file">
            <label class="custom-file-label" for="image">Select an image from your PC (.jpg and .png files supported)</label>
            <input type="file" class="custom-file-input" name="image" id="image">
          </div>
        </div>

        <div class="form-group">
		<button type="submit" class="btn btn-primary">Upload</button>
	</div>

      </form>
{% endblock %}
